
/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author Linh Diep
 */

 // CSS - FOR THE TOOLBARS
 .file_toolbar_pane{
    -fx-background-color: #6ccaf9;
     -fx-alignment: CENTER;
 }
 .file_toolbar_button{
    -fx-background-color: #23aef5;
    -fx-font-size: 15;
    -fx-border-color: #6ccaf9;
    -fx-border-width: 5px;
 }
 .mode_toolbar_tab{
     -fx-background-color: #f3f8fa;
     -fx-text-fill: #35c3d9;
     -fx-font-size: 20;
     -fx-alignment: CENTER;
     -fx-border-color: #35c3d9;
     -fx-border-width: 1;
     -fx-pref-width: 300;
     -fx-pref-height: 50;
 }
 .site_toolbar_pane{
     -fx-background-color: #1c2029;
 }
 .site_toolbar_button{
     -fx-background-color: transparent;
 }
 .page_pane{
     -fx-background-color:#8c8c8c;
     -fx-font-size: 18;
     -fx-text-alignment: center;
     -fx-pref-width: 160;
     -fx-border-color: #353c4d;
     -fx-border-width: 7;
     -fx-padding: 10;
 }
 .selected_page_pane{
     -fx-background-color:eeeeee;
     -fx-font-size: 18;
     -fx-text-alignment: center;
     -fx-pref-width: 160;
     -fx-border-color: #353c4d;
     -fx-border-width: 7;
     -fx-padding: 10;
 }
 .page_list_pane{
     -fx-background-color:#353c4d;
     -fx-font-size: 18;
     -fx-text-fill: #dcdcdc;
     -fx-text-alignment: center;
 }
 .editor_workspace_control{
    -fx-background-color: #8ed6fa;
    -fx-font-style: italic;
    -fx-font-size: 20;
    -fx-pref-width:200;
    -fx-alignment: CENTER;
    -fx-padding: 20;
 }
 
 .component_button{
     -fx-background-color: #eeeeee;
     -fx-text-fill: #35c3d9;
     -fx-font-size: 20;
     -fx-alignment: CENTER;
     -fx-border-color: #35c3d9;
     -fx-border-width: 1px;
     -fx-pref-width: 160;
 }
 .editor_workspace_edit{
    -fx-background-color:#eafaf7;
    -fx-font-size: 16;
    -fx-padding: 7;
    -fx-spacing: 20px;
 }

 .banner_button{
     -fx-background-color: #eeeeee;
     -fx-text-fill: #35c3d9;
     -fx-font-size: 20;
     -fx-alignment: CENTER;
     -fx-border-color: #35c3d9;
     -fx-border-width: 1px;
 }
  .editor_workspace_component_pane{
    -fx-pref-width: 500;
    -fx-alignment: CENTER;
    -fx-padding: 5;
    -fx-spacing: 5;

 }
 .editor_workspace_component{
    -fx-background-color: #ffffff;
    -fx-padding: 10;
    -fx-spacing: 30px;
    -fx-pref-height: 100;
    -fx-font-alignment: CENTER;
     -fx-border-color: #8ed6fa;
     -fx-border-width: 1px;
 }
  .editor_workspace_selected_component{
     -fx-background-color: #e5fff2;
    -fx-padding: 10;
    -fx-spacing: 30px;
    -fx-pref-height: 100;
    -fx-font-alignment: CENTER;
     -fx-border-color: #8ed6fa;
     -fx-border-width: 1px;
 }
 .editor_workspace_component_text{
     -fx-text-fill: #8ed6fa;
     -fx-font-size: 20;
     -fx-font-style: oblique;
     
 }
 
 // SLIDESHOW EDITING
 
 .slideshow_toolbar_pane{
     -fx-background-color: #135470;
 }
 .slideshow_toolbar_button{
     -fx-background-color: transparent;
 }
 .caption_prompt{
     -fx-text-fill: #65a1ba;
     -fx-font-size: 20;
     -fx-font-style: oblique;
     -fx-font-alignment: CENTER;
 }
 .slides_editor_pane{
    -fx-background-color: #d7f0fd;
    -fx-padding: 10;
    -fx-spacing: 30;
    -fx-pref-height: 300;
    -fx-pref-width: 600;
    -fx-font-alignment: CENTER;
 }
 .slide_edit_view{
    -fx-background-color: #fffefb;
    -fx-spacing: 30;
 }
 .selected_slide_edit_view{
    -fx-background-color: #cadfe7;
    -fx-spacing: 30;
 }
 
 // CSS - COMPONENTS
 .component_dialog{
    -fx-background-color: #edf3f7;
    -fx-font-size: 15;
    -fx-padding: 30;
 }
 .component_dialog_inner{
    -fx-padding: 20;
    -fx-spacing: 30;
 }
 .choose_button{
     -fx-background-color: #eeeeee;
     -fx-text-fill: #68c8f8;
     -fx-font-size: 15;
     -fx-pref-width: 200;
     -fx-border-color: #68c8f8;
     -fx-border-width: 1px;
 }
 .hyperlink_button{
     -fx-background-color: #6cc9f8;
     -fx-text-fill: #eeeeee;
     -fx-font-size: 15;
     -fx-alignment: CENTER;
     -fx-border-color: #68c8f8;
     -fx-border-width: 1px;
 }
 .save_comp_button{
     -fx-background-color: #6cc9f8;
     -fx-text-fill: #eeeeee;
     -fx-font-size: 20;
     -fx-alignment: CENTER;
     -fx-border-color: #68c8f8;
     -fx-border-width: 1px;
 }
 .list_control{
     -fx-padding: 10;
     -fx-spacing: 10;
     -fx-background-color: #d6f2f0;
     -fx-pref-width: 100;
     -fx-text-fill: #eeeeee;
     -fx-font-size: 14;
 }
 .list_scrollbar{
     -fx-padding: 20;
     -fx-spacing: 30;
     -fx-pref-width: 700;
 }
 .selected_list_point{
     -fx-background-color: #e5ffff;
     -fx-text-fill: #eeeeee;
     -fx-font-size: 14;
     -fx-padding: 20;
     -fx-spacing: 20;
 }
 .list_point{
     -fx-background-color: #ffffff;
     -fx-text-fill: #eeeeee;
     -fx-font-size: 14;
     -fx-padding: 20;
     -fx-spacing: 20;
 }