body { 
    
     width:100%;
     margin-left:auto;
     margin-right:auto;
}
#nav-bar  { 
   width: auto;
   text-align: center;
}
#nav{
     text-align: center;
}
#nav li active{
    text-decoration: underline;
}
#content {
    width: auto;
    padding: 10px auto;
    text-align: center;
 }
 #banner-img{
	width: 70%;
    height: 70%;
    max-height: 300px;
 }