/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2015, 12:37:29 AM
    Author     : Linh
*/

body { 
     margin-left:auto;
     margin-right:auto;
     width: 100%;
}
#nav-bar  { 
   width: auto;
   text-align: center;
   float: right;
   margin-right: 16%;
   
}
#student-name{
    margin-left: 10%;
}
#nav{
     text-align: center;
}
#nav li active{
    text-decoration: underline;
}
#content {
    width: auto;
    padding: 10px auto;
    text-align: center;
 }
 #banner-img{
    width: 80%;
    height: 80%;
    max-height: 300px;
}	