/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2015, 12:37:22 AM
    Author     : Linh
*/


body { 
     margin-left:auto;
     margin-right:auto;
     width: 100%;
}
#nav-bar  { 
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 0px;
}
#nav{
    background-color: #111a00;
    color: #e5ffb3;
    width: 140px;
    height: 400px;
     
}
#nav li{
    display: block;
    height: auto;
}
#nav li a{
    text-decoration: none;
}
#nav li active{
    text-decoration: underline;
}
#banner{
    text-align:center;
    float: right;
    width: 78%;
}

#banner-img{
    width: 80%;
    height: 80%;
    max-height: 300px;
}	
#content{
    margin-left:auto;
    margin-right:auto;
    text-align: left;
}