/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2015, 12:37:44 AM
    Author     : Linh
*/
body   { 
    display: table; 
     margin-left:auto;
     margin-right:auto;
     width:80%;
}
#nav-bar { 
    display: table-footer-group; 
}
#banner { 
    display: table-header-group; 
}
#nav li active{
    text-decoration: underline;
}
 #banner-img{
    width: 80%;
    height: 80%;
    max-height: 300px;
}	
 #content{
    padding: 10px;
    margin-left:auto;
    margin-right:auto;
    text-align: left;
}
