/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2015, 12:37:36 AM
    Author     : Linh
*/

body { 
     display: table; 
     margin-left:auto;
     margin-right:auto;
     width: 70%;
}
#nav-bar  { 
   display: table-row-group; 
   text-align: center;
   padding-bottom: 50%;
   margin:0;
   
}
#nav li active{
    text-decoration: underline;
}
#banner { 
    display: table-header-group; 
}

 #banner-img{
    width: 80%;
    height: 80%;
    max-height: 300px;
}	
#content {
    margin:0;
    width: auto;
    padding: 20px auto;
    text-align: center;
 }