
/* 
    Created on : Nov 8, 2015, 9:10:11 PM
    Author     : Linh Diep
*/

#content {
    width:80%; margin:0 auto;
}

#banner{
    text-align:center;
    margin:auto;
}

#banner-img{
    margin:7px auto;
}	
#student-name{
    font-size: 200%;
}	
#footer{
    text-align: center;
    margin:auto;
}

* {
	margin:2px;
	padding:7px
}

#content {
    width: auto;
    margin: 0 auto;
        
 }
ul{
	list-style: none;
    display: inline-table;
        
}
ul li {
	display: inline-block;
    float: left;
	padding: 10px;
    float:left;
}
#nav li .active a{
	text-decoration:  underline;
}

#nav li a{
    text-decoration: none;
}
.clear{
	clear: both;
}

